.top {
    height: 30px;
    background-color: bisque;
    border: 1px solid black;
    display: flex;
    width: 100%;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.big-text {
    background-color: blueviolet;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
}

.menu {
  
    background-color: yellow;
    display: flex;
    justify-content: center;
    height: 35px;
    align-items: center;
    
}

.menu div {
    border: 1px solid black;
    margin: 10px;
    
}

.explanation {
    background-color: antiquewhite;
    width: 80%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img {
    width: 400px;
    height: 225px;
    
}